{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
    <!-- Contact Details -->
    <section class="contact-details text-center">
        <div class="container-fluid">
            <h2 class="gradient-text">Contact Information</h2>
            <p class="text-muted">Reach out to us!</p>
            <div class="row">
                <div class="col-md-6">
                    <i class="fa-solid fa-phone fa-2x"></i>
                    <p class="contact-text">xxxxxxxxxx</p>
                </div>
                <div class="col-md-6">
                    <i class="fa-solid fa-envelope fa-2x"></i>
                    <p class="contact-text">maverick@sliet.ac.in</p>
                </div>
            </div>
        </div>
    </section>
    <!-- contact section -->
    <section class="contact-section">
        <div class="container">
            <div class="heading">
                <h2 class=" head gradient-text ">Get in Touch</h2>

            </div>
            <p class="text-center text-muted">We’d love to hear from you! Fill out the form below.</p>
            
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Your Name</label>
                            <input type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email Address</label>
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Message</label>
                            <textarea class="form-control" rows="4" placeholder="Write your message..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
    

{% endblock %}