{% extends 'base.html' %}

{% block content %}
    <!--############## Gallery ##################-->
    <div class="container mt-5 mb-5"  style="padding-top: 60px;">
        <div class="member text-center mb-3">
            <h2 class="gradient-text">Gallery</h2>
        </div>
        <div class="row">
            {% for i in range(1, total_images + 1) %}
            <div class="col-6 col-md-3 mb-4">
                <img src="{{ url_for('static', filename='gallery/gallery' ~ i ~ '.jpg') }}" alt="Gallery Image {{ i }}" class="img-fluid rounded" style="width: 300px; height: 250px; object-fit: cover;">
            </div>
            {% endfor %}
        </div>
        
    </div>        
 
{% endblock %}