{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <div class="container mt-5" style="padding-top: 60px; width:80%">
        <form method="post" class="form-register">
            {{ form.hidden_tag() }}
            <h3>Login</h3>
            <br>
    
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address ") }}
    
            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}
    
    
            <br>
            {{ form.submit(class="btn btn-primary")}}
            
        </form>
        <br/>
        
    </div>
</div>




{% endblock%}


{% block footer %}
    
{% endblock %}