{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5"  style="padding-top: 60px;">
      <div class="member text-center mt-2 mb-3">
        <h2 class="gradient-text">Our Projects</h2>
    </div>
      <div class="row" id="project-grid">
      {% for project in iot_projects %}
      <div class="col-md-3 mb-4 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="{{ project.image_direct }}" class="card-img-top" alt="{{ project.title }}">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-dark text-primary-emphasis fw-bolder">{{ project.name }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <a href="{{ project.details_url }}" class="btn btn-primary btn-sm mt-auto ">More Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>

{% endblock %}
